<div class="navbar-lewagon d-flex justify-content-space-between align-items-center bg-dark">
  <h1 class="ms-3 p-2 fs-2 text-light">My Movie Lists</h1>
  <%= link_to "All lists", lists_path, class: "me-3 p-2 text-decoration-none fs-3 text-light" %>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.themoviedb.org/t/p/original/1uoU4qPZEcOus0rQf8Tz4JCn3cX.jpg);">
  <div class="container d-flex justify-content-center">
    <h1 class="fs-1 font-monospace">My movie<strong> lists</strong>!</h1>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="container row p-5 justify-content-center">
    <% @lists.each do |list| %>
      <div class="bg-image card card-list shadow-1-strong col-3 m-4" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
       url(<% if list.photo.key.nil? %>
          <%= list.image_url %>
      <% else %>
          <%= cl_image_path list.photo.key %>
      <% end %>);" style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-text text-light"><%= list.name %></h2>
        </div>
        <div class="card-body">
          <%= link_to "See List", list_path(list), class: "btn btn-dark text-light mt-3 p-2 ms-1" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container d-flex justify-content-end mb-5">
  <%= link_to "Add a new list", new_list_path, class: "btn btn-dark text-light mt-3 p-2 ms-1" %>
</div>
